@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --cl-blue: #d9ebea;
    --cl-yellow: #fafbea;
    --cl-green: #62cd62;
    --cl-pink: #FF99C8;
    --cl-gray: #333;
    --cl-gold-yellow: #FFDA4A;
}
    
.brand-font {
    font-family: 'Lilita One', sans-serif;
}

.bg-yellow{
    background-color: var(--cl-yellow);
}
.cl-green{
    color: var(--cl-green);
}

.cl-pink{
    color: var(--cl-pink);
}

html, body{
    background-color: var(--cl-blue);
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;

    border-color: var(--cl-gray);
}

.shadow-bot {
    box-shadow: 0px 6px 0px #333;
}

.shadow-bot-left {
    box-shadow: 6px 6px 0px #333;
}

.btn{
    border: 2px solid black;
    height: 3em;
    background-color: var(--cl-gold-yellow);
    box-shadow: 4px 4px 0px #333;
}

.btn_active {
    border: 2px solid var(--cl-gray);
    border-radius: 12px;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 2px;
    background: white;
    box-shadow: 4px 4px 0 #33333367;
}

textarea:focus, input:focus{
    outline: none;
}