@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --cl-blue: #d9ebea;
    --cl-yellow: #fafbea;
    --cl-green: #62cd62;
    --cl-pink: #FF99C8;
    --cl-light-gray: #c4c4c4;
    --cl-gray: #333;
    --cl-gold-yellow: #FFDA4A;
}
    
.brand-font {
    font-family: 'Lilita One', sans-serif;
}

.bg-yellow{
    background-color: var(--cl-yellow);
}
.cl-green{
    color: var(--cl-green);
}

.cl-pink{
    color: var(--cl-pink);
}

html, body{
    background-color: var(--cl-blue);
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Open Sans'; */
    font-weight: 600;
    /* background: linear-gradient(to bottom, #f9f8f1, #fff9e6, #fff5d6); */
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}



.btn{
    height: 3em;
    text-transform: uppercase;
    background-color: var(--cl-gold-yellow);
}

.btn_active {
    border-radius: 12px;
    padding: 8px;
    padding-left: 14px;
    padding-right: 14px;
    box-shadow: 2px;
    background: rgba(255, 255, 255, 0.585);
}

textarea:focus, input:focus{
    outline: none;
}